@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

body {
  margin: 0;
  color: #ffffff;
  box-sizing: border-box;
}

.App {
  font-family: "Rubik", sans-serif;
  background-color: #0d0d2b;
}

/* .Hero {
  background: url("./assets/bg1.svg") center center no-repeat,
    url("./assets/bg2.svg") right center no-repeat;
}
. */

.bg {
  overflow: hidden;
}

.bg1 {
  background-image: url("./assets/bg1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 431.82px;
  left: 131px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg2 {
  background-image: url("./assets/bg2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 389px;
  left: 710px;
  width: 50%;
  height: 50%;
  z-index: 1;
}
