@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

.App {
  background-color: #0d0d2b;
  background-image: url("./assets/bg1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
